@charset "utf-8";
/* CSS Document */

input[type*="text"]:focus,textarea:focus,input[type*="password"]:focus{
     background-color: #ffbacb !important
}


dd:before {
	content: none;
}
body * a:hover {
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox */
	-webkit-transition: all 0.2s; /* Chrome&Safari */
}
img {
	max-width: 100% !important;
	height: auto !important;
	vertical-align: middle;
}
body {
	font-family: 微軟正黑體;
	font-size: 100%;
	background-color: #fff;
	position: relative
}
body, div, dl, dt, dd, ul, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, label {
	margin: 0;
	padding: 0;
}
body, html {
	width: 100%;
	height: 100%;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
ul {
	list-style: none;
}
.clear {
	clear: both
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1; /*For IE 6&7 only*/
}
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
a {
	text-decoration: none;
}
p {
	color: #666;
	margin: 10px 0;
}
.clean {
	clear: both;
}
.span_none {
	display: none
}
/*img {
	width: 100%;
}*/
.modal-footer a {
	color: #F00;
}
.modal-footer a:hover {
	color: #000
}
input[type="radio"], input[type="checkbox"] {
	margin: 0 4px;
}
/* menu*/

#main_menu {
	width: 100%;
	background: #ccc;
}
#main_menu .menu2 li a {
	padding-right: 2rem;
	word-break: break-all;
}
#header .menu_active {
	position: fixed;
	top: 0;
	z-index: 999;
	margin-top: 0
}
#menu_bth {
	cursor: pointer;
	height: 40px;
	background-color: #b7b7b7
}
.top_menu {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	text-align: center;
	position: relative;
	display: table;
}
.top_menu li {
	width: 14.2%;
	height: 43px;
	display: table-cell;
	position: relative;
}
.top_menu li:last-child {
	background: none;
}
.top_menu dl {
	width: 100%;
	display: table
}
.top_menu li a {
	width: 100%;
	height: 43px;
	line-height: 43px;
	color: #fff;
	display: table-cell;
	font-size: 125%;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	z-index: 999;
	position: relative;
}
.top_menu>li:after, .top_menu .top_menu_fixed:after {
	content: "";
	display: block;
	width: 100%;
	height: 43px;
	position: absolute;
	top: 0;
	background: #000;
	-webkit-transform: skew(-48deg);
	-moz-transform: skew(-48deg);
	-o-transform: skew(-48deg);
	transform: skew(-48deg);
}
.top_menu>li:hover:after, .top_menu>li:focus:after, .top_menu .top_menu_fixed:after {
	background: #bb4848;
}
.top_menu li:hover > a {
	color: #fff;
}
.top_menu li:hover > ul {
	display: block; /* 滑鼠滑入母選單後，顯示子選單 */
}
/* 二級選單顯示於一級選單的正下方 */


.top_menu ul {
	width: 100%;
	position: absolute;
	z-index: 9999;
	list-style: none;
	top: 35px;
	left: 0;
	text-align: left;
	padding-top: 25px;
	display: none;
}
.top_menu ul>.main {
	border-radius: 5px;
	border: 3px solid #9ddae3;
	background: #fff;
}
.top_menu ul li:first-of-type a::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 12px 9px 12px;
	border-color: transparent transparent #9ddae3 transparent;
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	margin: auto;
}
.top_menu ul li {
	width: 100%;
	height: auto;
	border-bottom: 1px #f3f3f3 solid;
	background-image: none;
	display: block;
	float: none;
	text-align: center;
}
.top_menu ul li:last-child {
	border-bottom: 0;
}
.top_menu ul li a {
	height: auto;
	padding: 8px 10px;
	font-size: 0.938em;
	color: #383838;
	display: block;
}
.top_menu ul li a:hover, .top_menu ul li a:focus {
	background: #F3F4E4;
	color: #ff9908;
}
.top_menu ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
/* page*/


.ace {
	color: #999;
	font-size: 84%
}
.news_marquee {
	width: 100%;
	overflow: hidden;
	background-color: #FFF;
	background: url(../in_images/icon_marquee.png) no-repeat;
	display: inline-block;
	padding-left: 30px;
	white-space: nowrap;  /*é¿å…æ–‡å­—æ›è¡Œ*/
}
.news_marquee a, .news_marquee span {
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
	font-size: 110%;
	line-height: 98%;
}
.news_marquee a:hover, .news_marquee a:focus {
	color: #f00;
}
.div_promo {
	overflow: hidden
}
#FontSizeArea {
	background: #f3f3f3 url(../in_images/footer_bg2.png) no-repeat bottom;
}
.con {
	padding-top: 10px;
	min-height: 700px;
}
/*#footer_bg {
	background: url(../in_images/wallpaper.jpg) no-repeat top;
	position: relative
}*/
#header {
	background: #eee;
	position: relative
}
#header .top {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
	position: relative;
}
#header .top .right {
	float: right;
	text-align: right;
}
#logo {
	float: left;
	margin-top: 15px;
}
#logo a {
	display: block;
}
.place {
	color: #666;
	margin: 5px 0;
	font-size: 84%
}
.place li {
	display: inline-block
}
.place a {
	color: #666;
	display: inline-block;
}
.place a:hover {
	color: #fda22a;
}
.title_box {
	border-bottom: 2px #fda22a solid;
	margin: 10px 0;
}
.search_main {
	width: 300px;
	background: #ccc;
	border-radius: 10px;
	margin-top: 10px;
	text-align: left;
	padding: 10px;
	position: absolute;
	right: 15px;
	z-index: 99;
	display: none;
}
.search_main img {
	position: absolute;
}
.search_main .text {
	width: 240px;
	background: #DADADA;
	border-radius: 5px;
	border: 0;
	padding: 4px 5px 5px 70px;
}
.search_main .text2 {
	width: 16px;
	height: 15px;
	background: url(../in_images/nav_search_icon.png);
	border: 0px;
	margin-right: 10px;
	vertical-align: middle;
}
.nav_search {
	background: #DADADA;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.nav_search .button {
	width: 25px;
	height: 25px;
	background: url(../in_images/nav_search_icon.png) center no-repeat;
	margin-top: 2px;
	border: 0px;
	margin-left: -30px;
	vertical-align: top
}
.search_word {
	font-size: 100%;
	color: #333333;
	padding-top: 5px;
}
.search_word a {
	color: #666
}
.search_word a:hover {
	color: #fda22a
}
.main_bn {
	float: right
}
.main_bn li {
	width: 30px;
	height: 21px;
	display: inline-block;
}
.main_bn .type1 {
	background: url(../images/print_icon.png) no-repeat;
}
.main_bn .type2 {
	background: url(../images/mail_icon.png) no-repeat;
}
.main_bn .type3 {
	width: 21px;
	height: 21px;
	background: url(../images/fb_icon.png);
	padding: 0;
}
.main_bn .type4 {
	width: 21px;
	height: 21px;
	background: url(../images/g_icon.png);
	padding: 0;
}
.main_bn .type3 a, .main_bn .type4 a {
	height: 100%;
}
.main_bn li:hover {
	opacity: 0.7
}
.main_bn li a {
	padding: 1px 5px 2px 20px;
	color: #fff;
}
.article {
	min-height: 650px;
	padding: 0 15px 0 0;
	float: left
}
.content_txt {
	line-height: 25px;
}
.content_txt ul {
	list-style: disc;
	padding-left: 60px;
}
.content_txt a {
	display: inline-block;
	color: #6baf1d;
}
.content_txt a:hover {
	color: #da382b;
}
.content_txt p {
	font-size: 95%;
	margin: 0
}
.content_txt .imgbox {
	font-size: 95%;
	float: right;
	clear: both;
	text-align: center;
	margin-bottom: 10px;
	display: block;
}
.content_txt .imgbox a {
	display: block;
}
.content_txt .imgbox img {
	border: 6px solid #fda22a;
	border-radius: 5px;
}
#content {
	color: #666;
}
#content p {
}
#content iframe {
	width: 100%;
}
.content_link {
	color: #f00;
	display: inline-block;
	vertical-align: top
}
.content_link:hover {
	color: #093;
}
.menu_navigation {
}
.menu_nav {
	font-size: 100%;
	color: #000;
	display: inline-block;
	vertical-align: middle;
}
.menu_nav a {
	display: inline-block;
	color: #000
}
.menu_nav a:hover {
	color: #f00
}
.fontsize {
	color: #000000;
	display: inline-block;
	font-weight: bold;
	text-align: right;
}
.fontsize li {
	display: inline-block
}
.fontsize a {
	color: #000;
	text-decoration: none;
}
.fontsize a:hover, #fontsize a:focus {
	color: #F00;
}
.fontsize .type {
	margin-right: 4px;
	text-align: center;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-radius: 5px;
}
.search_box {
	margin-top: 5px;
	text-align: right
}
.search_box .icon {
	border: 1px solid #000;
	background-color: #000;
	color: #FFF;
	padding: 2px;
	font-size: 84%;
}
.pic {
	clear: both;
	margin: 10px 0;
	text-align: center;
	font-size: 95%;
}
.pic img {
	border-radius: 5px;
	border: 6px solid #fda22a;
}
.pic dl {
	display: inline-block;
	margin: 5px 0;
	vertical-align: top
}
#main_type {
	text-align: right;
	padding: 0px 0 10px 0;
	font-size: 84%;
}
.type_word {
	color: #313131;
	padding: 2px 5px;
	vertical-align: middle;
}
label {
	vertical-align: middle;
}
.type_word a {
	color: #666;
	text-decoration: none;
	display: inline-block;
}
.type_word a:hover {
	color: #fda22a;
}
.type_word a:focus {
	color: #fda22a;
}
.search_table {
	border: 1px solid #CCC;
	width: 150px;
	color: #666;
	letter-spacing: 1px;
}
.search_bn {
	border: 0px;
	margin-bottom: -6px;
 *margin-bottom: -5px;
}
.icon_go {
	border: 0px;
	width: 26px;
	height: 26px;
	vertical-align: middle;
}
.bn_search {
	border: 0px;
	width: 26px;
	height: 26px;
	vertical-align: middle;
}
.icon_go:hover, .bn_search:hover {
	opacity: 0.7
}
/*按鈕選單*/
    
.b {
	position: absolute;
	top: 13px;
	left: 10px;
	transition: .2s;
	cursor: pointer;
}
.b i {
	display: block;
	height: 2px;
	background: #fff;
	border-radius: 2px;
	transition: .2s;
}
.b1 {
	width: 30px;
}
.b2 {
	width: 30px;
	margin-top: 5px
}
.b3 {
	width: 30px;
	margin-top: 5px
}
.b1_on {
	transform: translate3d(0, 5px, 0) rotate(-135deg)
}
.b3_on {
	transform: translate3d(0, -8px, 0) rotate(135deg);
}
.b2_on {
	left: 50px;
	width: 0;
}
.left_menu {
}
.menu_icon {
	width: 25px;
	height: 25px;
	background-image: url(../in_images/icon_on.png);
	position: absolute;
	right: 10px;
	top: 2px
}
.menu_box {
	border-radius: 0 0 5px 5px;
	border: 2px solid #5b9814;
	padding: 0 3px;
}
.menu2 {
	background: #eee;
	padding: 10px 15px;
	margin: 0;
	list-style: none;
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.menu2 ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
.menu2>li {
	border-bottom: 1px #fff dotted;
	font-size: 95%;
	position: relative;
	margin: 3px 0;
}
.menu2 li a {
	display: block;
	background: url(../in_images/left_icon.png) no-repeat 5px 10px;
	color: #000;
	padding: 5px 5px 5px 20px;
}
.menu2 li .bth {
	background: #ccc;
	color: #000;
}
.menu2 span {
	font-size: 30%;
}
.menu2 .sub_sub {
	display: none;
	background-color: #ccc;
}
.sub_menu2 {
	position: relative;
}
.menu2 .sub_sub a {
	font-size: 90%;
	background: url(../in_images/left_icon2.png) no-repeat 20px 10px;
	color: #424242;
	padding: 5px 5px 5px 35px;
}
.menu2 .sub_sub2 {
	display: none;
	font-size: 95%;
}
.sub_menu3 {
	position: relative
}
.menu2 .sub_sub2 a {
	font-size: 84%;
	background: url(../in_images/left_icon3.png) no-repeat 35px 10px;
	color: #8b8b8b;
	padding-left: 50px;
	padding-right: 5px;
}
.menu2 .sub_sub3 {
	display: none;
	font-size: 84%;
}
.menu2 .sub_sub3 a {
	background: url(../images/icon01.png) no-repeat 55px 11px;
	color: #8b8b8b;
	padding-left: 65px;
}
.menu2 .sub_sub4 {
	display: none;
	font-size: 84%;
}
.menu2 .sub_sub4 a {
	background: url(../images/icon03.png) no-repeat 65px 12px;
	color: #a1a1a1;
	padding-left: 75px;
}
.menu2 dl {
	border-top: 1px #ccc dotted;
	background: url(../images/icon01.png) no-repeat 5px 13px;
	font-size: 95%;
}
.menu2 dl a {
	color: #313131;
	padding: 10px 0 10px 25px
}
.menu2 dt {
	background: url(../images/icon02.png) no-repeat 21px 11px;
	font-size: 84%;
	font-weight: 500
}
.menu2 dt a {
	color: #3c3c3c;
	padding: 5px 0 5px 35px
}
.menu2 dt a:hover {
	background-color: transparent;
	color: #f00
}
.left_title {
	width: 201px;
	height: 45px;
	background: url(../images/left_title01.png);
	border-bottom: 2px #4f8a0d solid;
	;
}
.content_title {
	border-radius: 3px;
	color: #fff;
	background: #fda22a;
	font-weight: bold;
	padding: 5px 0 5px 8px;
	margin: 10px 0;
}
.content_title i {
	padding-right: 5px;
}
.imgbox a {
	color: #666;
}
.imgbox span {
	display: block;
	padding: 5px 0;
}
.download li:nth-child(odd) { /*單數隔行換色*/
	background-color: #EEE;
}
.download li:nth-child(1) { /*首行th設定*/
	width: 100%;
	background-color: #CCC;
	display: table;
	padding: 10px 5px;
}
.download {
	margin: 20px 0;
}
.download_tt {
	color: #000;
	background-color: #CCC;
	padding: 10px 5px;
	font-weight: bold;
}
.download li {
	border-bottom: 1px #ccc solid;
	width: 100%;
	display: table;
	padding: 10px 5px;
}
.download .word {
	background: url(../images/icon02.png) no-repeat 5px 6px;
	width: 80%;
	color: #000;
	display: table-cell;
	font-size: 100%;
	padding-left: 20px;
}
.download a {
	color: #000;
}
.download a:hover {
	color: #093;
}
.download .file {
	width: 20%;
	display: table-cell;
	text-align: center;
}
.download dd {
	display: inline-block;
}
.download .file a {
	width: 16px;
	display: inline-block;
	margin: 2px;
}
#table li:nth-child(odd) { /*單數隔行換色*/
	background-color: #EEE;
}
#table li:nth-child(1) { /*首行th設定*/
	width: 100%;
	background-color: #CCC;
	display: table;
	padding: 10px 5px;
}
#table {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding: 0px;
}
#table li {
	border-bottom: 1px #ccc solid;
	width: 100%;
	display: table;
	padding: 10px 5px;
	;
}
.table_title {
	width: 25%;
	color: #000;
	display: table-cell;
	font-size: 100%;
	padding: 0 10px 0 0;
}
.table_txt {
	background: url(../images/icon02.png) no-repeat 5px 6px;
	width: 25%;
	font-size: 95%;
	color: #666;
	line-height: 150%;
	padding: 0 10px 0 20px;
	display: table-cell;
}
.table_txt a {
	color: #063;
	text-decoration: none;
}
.table_txt a:hover, .table_txt a:focus {
	color: #F00;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.no_txt { /*<noscript>標籤用*/
	font-weight: bold;
	color: #F00;
}
.page {
	margin: 10px 0;
	text-align: center;
	font-size: 84%;
}
.icon {
	background-color: #fda22a;
	font-weight: bold;
	border-radius: 5px;
	color: #FFF;
	border: 0;
}
.icon a {
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}
.login_bth {
	display: inline-block;
	font-size: 115%;
	font-weight: bold;
}
.login_bth .icon {
	border-radius: 5px;
	background-color: #fda22a;
	display: inline-block;
	margin: 3px;
}
.login_bth .icon {
	padding: 2px 10px;
	color: #FFF;
	display: block;
}
.login_bth .icon:hover {
	color: #FFF;
	background-color: #6baf1d;
}
.page a {
	display: inline-block
}
.page .icon {
	border-radius: 5px;
	background-color: #fda22a;
	display: inline-block;
	margin: 3px;
}
.page .icon a, {
 padding: 3px 8px;
 color: #FFF;
 display: block;
}
.page .icon:hover, {
 color: #FFF;
 background-color: #6baf1d;
}
.icon2 {
	background-color: #000;
	font-weight: bold;
	border-radius: 5px;
	color: #FFF;
	border: 1px solid #000;
	padding: 5px;
	line-height: 18px;
}
.icon2 a {
	color: #FFF;
	text-decoration: none;
}
.icon3 {
	background-color: #000;
	font-weight: bold;
	border-radius: 5px;
	color: #FFF;
	border: 1px solid #000;
	padding: 5px 15px;
}
.icon3 a {
	color: #FFF;
	text-decoration: none;
}
.goback {
	text-align: right;
	font-size: 84%;
	margin: 20px 0 40px 0;
}
.goback .icon {
	border-radius: 5px;
	display: inline-block;
	letter-spacing: 2px;
	font-size: 110%;
	margin-left: 5px;
}
.goback .icon a {
	padding: 5px 10px;
	color: #FFF
}
.icon_back {
	background: #518d0c;
}
.icon_top {
	background: #da382b;
}
#center_btn {
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 95%;
}
#top_btn {
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: right;
}
#top_btn .icon {
	display: inline-block;
	font-size: 95%;
}
#top_btn .icon:hover {
	background-color: #6baf1d;
}
.banner {
	border: 1px solid #6baf1d;
	margin: -3px 15px 0 15px;
}
.banner .box {
	text-align: center
}
.banner_line {
	background: #6baf1d;
	width: 93%;
	height: 3px;
	margin: 20px auto 0 auto
}
.banner_icon {
	width: 62px;
	height: 12px;
	background: url(../in_images/banner_icon.png);
	position: absolute;
	bottom: -5px;
	right: 15px;
	z-index: 99
}
.slick-slider {
	background: none
}
.responsive button {
	display: none !important
}
.news_img {
	width: 259px;
	float: left;
}
.news_tt {
	width: 100%;
	display: table;
	border-bottom: 5px #626262 solid;
}
.news_tt li {
	width: 33.5%;
	line-height: 43px;
	display: table-cell;
	text-align: center;
}
.news_tt li a {
	border-right: 2px solid #fff;
	background-color: #534e6d;
	display: block;
	color: #fff;
	height: 100%;
	font-size: 110%;
	font-weight: bold;
	padding: 0 10px;
	position: relative;
	transition: all 0.3s !important;
}
.news_tt li:last-of-type a {
	border-right: 0;
}
.news_tt li a:hover {
	background-color: #333;
	color: #fff
}
.news_tt .news_tt- a {
	background-color: #333;
	color: #fff
}
.news_list {
}
.tt {
	margin-bottom: 5px;
}
.news_list .bth {
	text-align: right;
	margin: 5px 0 0 0
}
h2 {
	line-height: 20px;
	font-size: 125%;
	font-weight: bold;
	color: #000;
	margin: 5px 0;
	float: left;
}
.news_list .bth {
	float: right
}
.news_list li {
	border-bottom: 1px #d4d4d4 dashed;
	width: 100%;
	display: table;
}
.news_list li:nth-of-type:nth-child(2n) {
	background: #c00;
}
.news_list dd {
	width: 85%;
	background: url(../in_images/news_icon.png) no-repeat 5px 15px;
	padding: 9px 10px 9px 18px;
	display: table-cell;
	vertical-align: top;
	font-size: 110%;
	max-width: 0;/*重點這行才會...*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news_list dd a {
	color: #3c3c3c;
}
.news_list dd a:hover {
	color: #ff8107
}
.news_list dt {
	width: 15%;
	color: #000;
	display: table-cell;
	padding: 9px 10px 9px 10px;
	vertical-align: top;
	font-size: 95%;
	text-align: right;
}
.group {
	background: #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	padding: 10px;
}
.video {
	text-align: center
}
.video_main {
	margin-top: 10px;
}
.video .more, .links .more {
	float: right;
	margin-top: 10px;
}
.video iframe {
	width: 350px;
	height: 240px;
}
.public {
	background: #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
	padding: 5px;
}
.public .type {
	width: 289px;
	height: 59px;
	margin: 0 auto 7px auto
}
.public a {
	display: block;
	height: 100%;
}
.public .type1 {
	background: url(../in_images/public01.jpg);
}
.public .type2 {
	background: url(../in_images/public02.jpg);
}
.public .type3 {
	background: url(../in_images/public03.jpg);
}
.public .type4 {
	background: url(../in_images/public04.jpg);
}
.m_20 {
	margin-bottom: 20px
}
.rss {
	width: 40px;
	height: 20px;
	background: url(../in_images/rss_bth.png);
	display: inline-block
}
.more {
	width: 40px;
	height: 20px;
	background: url(../in_images/more_bth.png);
	display: inline-block
}
.links li {
	border-bottom: 1px #ccc solid;
	background: url(../in_images/links_list_icon.png) no-repeat 0px 10px;
	padding: 7px 10px 7px 18px;
	font-size: 100%;
}
.links li a {
	color: #3c3c3c
}
.links li a:hover {
	color: #ff8107
}

.r_box {
	text-align: center;
	display: block;
}
.responsive .r_box img {
	border: 1px solid #ccc;
	display: inline-block;
}
.responsive .owl-next {
	width: 30px;
	height: 30px;
	background-image: url(../in_images/responsive_next.png) !important;
	background-color: transparent !important;
	font-size: 0 !important;
}
.responsive .owl-prev {
	width: 30px;
	height: 30px;
	background: url(../in_images/responsive_pre.png) !important;
	background-color: transparent !important;
	font-size: 0 !important;
}
.footer_container {
	background: url(../in_images/footer_bg.png);
	text-align: center;
	padding: 10px;
}
.footer_word {
	color: #3c3c3c;
	font-size: 84%;
	line-height: 150%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}
.footer_icon {
	margin-bottom: -5px;
	margin-left: 10px;
}
.home_img {
	max-width: 1200px;
	margin: 0 auto 10px;
	padding: 15px;
}
.home_img a {
	display: block;
}
.home_img a:focus, .photo a:focus, .photo2 a:focus, .responsive_list2 a:focus, .responsive a:focus {
	border: 2px #2F2F8A dotted;
}
.home_img .owl-next {
	width: 24px;
	height: 24px;
	background-image: url(../in_images/slick-next.png) !important;
	background-color: transparent !important;
	font-size: 0 !important;
}
.home_img .owl-prev {
	width: 24px;
	height: 24px;
	background: url(../in_images/slick-next.png) !important;
	background-color: transparent !important;
	font-size: 0 !important;
}
.home_img .owl-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.home_img .owl-dots .owl-dot span {
	width: 13px;
	height: 13px;
	background: #D6D6D6;
}
.home_img .owl-dots .owl-dot.active span, .home_img .owl-dots .owl-dot:hover span {
	background: #000;
}
.mod-mainvisual {
	position: relative;
	overflow: hidden;
	display: block
}
.home_img dt {
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	position: absolute;
	bottom: 0;
	z-index: 999;
	padding: 15px 15px 15px 30px;
	font-size: 110%;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.home_img img {
	max-height: 258px;
}
.mod-mainvisual:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url(../in_images/slick_bg.png);
	background-size: cover;
	background-position: center;
	z-index: 20;
}
.photo {
	padding: 0;
	text-align: center
}
.photo a {
	display: block;
}
/*輪播圖垂直置中*/
.owl-carousel .owl-stage {
}
.owl-carousel .owl-item {
	display: inline-block;
	float: none;
	vertical-align: middle;
	text-align: center;
}
.owl-carousel .owl-item > a {
	text-align: center;
}
/*輪播圖垂直置中*/

/*箭頭垂直置中*/
.owl-theme .owl-nav {
	margin: 0
}
.owl-prev {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	left: 0;
}
.owl-next {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	right: 0;
}
/*箭頭垂直置中*/




.owl-carousel .owl-item img {
	width: auto;
	display: inline-block;
}
.photo img {
	max-height: 262px !important;
	margin: auto;
}
.photo dt img {
	height: auto !important;
}
.photo dt, .video dt {
	background: url(../in_images/links_list_icon.png) no-repeat 0 5px;
	margin-top: 9px;
	text-align: left;
	padding-left: 15px;
}
.photo2 {
	max-width: 370px;
	text-align: center;
	margin: auto;
}
.photo2 img {
	height: 262px !important;
}
.photo2 a {
	color: #fff;
	position: relative
}
.photo2 dt {
	background: url(../in_images/photo_bg.png);
	position: absolute;
	bottom: 0;
	z-index: 999;
	padding: 10px;
	text-align: center;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.calendar ul li {
	width: 100%;
	padding: 0px 0;
	display: table;
}
.calendar ul li dl:nth-child(1), #calendar ul li dl:nth-child(7) {  /*星期日和星期六的顏色*/
	color: #C00;
	background-color: #F4D2D2;
}
.calendar ul li dl {
	width: 14.28%;
	border-right: 1px #EEE solid;
	background-color: #D3E6F3;
	color: #06C;
	display: table-cell;
	padding: 10px;
	text-align: center;
}
.calendar ul .date span {
	font-size: 95%;
	width: 14.28%;
	border-right: 1px #EEE solid;
	border-bottom: 1px #EEE solid;
	background: #FFF;
	color: #000;
	display: table-cell;
	height: 47.5px;
	text-align: center;
	line-height: 40px;
	padding: 0;
	vertical-align: top;
}
.calendar ul .date span:nth-child(1) {
	border-left: 1px #EEE solid;
}
.calendar ul .date .plan {
	background: #FFC;
}
.calendar ul .date span a {
	color: #F00;
	height: 100%;
	display: block
}
.calendar ul li span a:hover {
	color: #000;
	text-decoration: none;
}
.responsive_list {
	position: relative
}
.responsive_list li {
}
.responsive_list dl {
	background: #fff;
	text-align: left;
	padding: 5px;
}
.responsive_list a {
	border-bottom: 0px #000 solid;
	display: block;
	background: #fff;
	color: #3498db;
	padding: 2%;
	position: relative;
	text-align: center;
	position: relative
}
.responsive_list a:before {
	width: 0%;
	background: #000;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	right: 100%;
	transition: all 0.5s !important;
	-moz-transition: all 0.5s !important; /* Firefox */
 -webkit-transition: all 0.5s !important  /* Chrome&Safari */
 z-index: 0;
}
.responsive_list a:hover:before {
	width: 100%;
	right: 0
}
/*----------------------------responsive_list2---------------------*/
.responsive_list2 {
	max-height: 340px !important;
	position: relative;
	background: #fff;
}
.responsive_list2 dt {
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	z-index: 999;
	padding: 10px;
	text-align: center;
}
.responsive_list2 a {
	overflow: hidden;
	color: #fff;
	padding: 0;
	display: block;
}
.responsive_list2 img {
	max-height: 340px !important;
	margin: auto;
}
.responsive_list2 img {
	transition: all 0.3s linear;
	-webkit-backface-visibility: hidden;
}
.responsive_list2 .owl-item:hover img {
	opacity: 1;
	transform: scale(1.05);
}
.responsive_list2 .owl-next {
	width: 46px;
	height: 85px;
	background-image: url(../in_images/slick-next2.png) !important;
	background-color: transparent !important;
	font-size: 0 !important;
	margin: 0!important;
}
.responsive_list2 .owl-prev {
	width: 46px;
	height: 85px;
	background: url(../in_images/slick-prev2.png) !important;
	background-color: transparent !important;
	font-size: 0 !important;
	margin: 0!important;
}
.responsive_list2 .owl-item {
	opacity: 0.7
}
.responsive_list2 .center {
	opacity: 1
}
/*----------------------------responsive_list3---------------------*/









.responsive_list3 dt {
	width: 100%;
	background-color: rgba(242, 101, 137, 0.7);
	position: absolute;
	bottom: 0;
	z-index: 999;
	padding: 10px;
	text-align: center;
	border-radius: 300% / 300% 300% 0 0;
	font-size: 125%;
	font-weight: bold;
}
.responsive_list3 a {
	overflow: hidden;
	color: #fff;
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 73%;
	border-radius: 20px;
	border: 5px solid #fff;
}
.responsive_list3 a div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.responsive_list3 .owl-item {
	opacity: 1
}
.acquaint {
	position: relative;
	text-align: center;
}
.acquaint dl {
	background: #ccc;
	max-width: 100%;
	height: 210px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.acquaint dt {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	display: table;
	transform: rotateY(-180deg);
}
.acquaint a {
	display: block;
	height: 100%;
}
.acquaint i {
	opacity: 0;
	border-radius: 50px;
	border: 1px solid #fff;
	width: 80px;
	height: 80px;
	line-height: 80px;
	color: #fff;
	margin: auto;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
}
.acquaint dl:hover dt, .acquaint dl:focus dt {
	background-color: rgba(0,0,0,0.8);
	transition: all 0.5s !important;
	transform: rotateY(0)
}
.acquaint dl:hover i {
	opacity: 1;
	transition: all 0.6s;
	top: 0
}
.acquaint dl:hover i:hover, .acquaint dl:hover i:focus {
	background-color: rgba(255,255,255,0.2);
}
.acquaint2 dt a {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 95%;
	padding: 10px;
	opacity: 0
}
.acquaint dl:hover a, .acquaint dl:focus a {
	opacity: 1;
	transition: all 0.6s;
}
#footer {
	background-color: #ECECEC;
	position: relative;
	padding-bottom: 30px;
	margin-top: 50px;
}
#footer_info {
}
.footer_word {
	letter-spacing: 1px;
	font-size: 95%;
	color: #000;
	line-height: 180%;
	float: left;
	margin-left: 20px;
}
.footer_word span {
	color: #712417;
	font-weight: bold;
}
.footer_word a {
	color: #093;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}
.footer_word a:hover {
	color: #830000;
}
.footer_word a:focus {
	color: #830000;
}
#footer_main {
	max-width: 1200px;
	margin: auto
}
.footer_img {
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
	margin-left: 10px;
	float: left;
}
#fat_footer {
	padding-bottom: 20px;
	width: 100%;
	margin: auto;
	position: relative;
}
#fat_footer ul {
	margin: 0px;
	padding: 0px;
}
#fat_footer ul li {
	list-style-type: none;
	float: left;
	font-size: 110%;
	color: #3d6417;
	letter-spacing: 1px;
	width: 20%;
	line-height: 180%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#fat_footer ul li a {
	color: #000;
	text-decoration: none;
}
#fat_footer ul li a:hover {
	color: #830000;
}
#fat_footer ul li ul {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #3d6417;
	padding-top: 5px;
	margin-top: 5px;
}
#fat_footer ul li ul li {
	width: 100%;
	font-size: 100%;
	line-height: 150%;
	color: #313131;
	float: none;
	padding: 5px;
	margin-left: -2px;
}
#fat_footer ul li ul li a {
	color: #313131;
	text-decoration: none;
}
#fat_footer ul li ul li a:hover {
	color: #5D8934;
}
#ff_btn {
	width: 106px;
	margin: auto;
	position: absolute;
	top: -26px;
	left: 0;
	right: 0;
}
#ff_btn .btn_close {
	border: 0;
	width: 66px;
	height: 18px;
	background: url(../in_images/ff_close.png);
	font-size: 0;
}
#ff_btn .btn_open {
	border: 0;
	width: 66px;
	height: 18px;
	background: url(../in_images/ff_open.png);
	font-size: 0;
	display: none;
}
.fb-main {
	text-align: center
}
.img_fade span {
	width: 100%;
	height: 262px;
	display: block;
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	transition: transform 0.3s ease;
}
.img_fade span:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.f_service {
	width: 100%;
	display: table;
	padding: 20px
}
.f_service li {
	text-align: center;
	width: 25%;
	display: table-cell;
}
.f_service li a {
	color: #383838;
	margin: 0;
	margin-top: 5px;
}
.f_service li img {
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	transition: transform 0.3s ease;
}
.f_service li:hover img {
	-webkit-transform: translate(0, -10px);
	-moz-transform: translate(0, -10px);
	-ms-transform: translate(0, -10px);
	transform: translate(0, -10px);
}
.sr-only {
	position: absolute;
	width: 0.063rem;
	height: 0.063rem;
	padding: 0;
	margin: -0.063rem;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}
.aaa a {
	max-width: 350px;
	display: block;
	position: relative;
	margin: auto;
}
.aaa a:before {
	width: 100%;
	height: 100%;
	content: "";
	border: 0px #000 solid;
	transition: all 0.2s !important;
	-moz-transition: all 0.2s !important; /* Firefox */
	-webkit-transition: all 0.2s !important;  /* Chrome&Safari */
	z-index: 99;
	position: absolute;
}
.aaa a:hover:before {
	border: 10px #000 solid;
}
/* Effect 10: reveal, push out */
.cl-effect-10 {
	position: relative;
	z-index: 1;
}
.cl-effect-10 a {
	overflow: hidden;
	margin: 0 15px;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
.cl-effect-10 a span {
	display: block;
	padding: 10px 20px;
	background: #0f7c67;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #0f7c67;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}
.cl-effect-10 a:hover span, .cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}
.cl-effect-10 a:hover::before, .cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
 transform: translateX0%);
}
/*share*/


.share {
	width: 70px;
	height: 340px;
	margin: auto;
	font-size: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
}
.share li {
	width: 45px;
	height: 45px;
	margin: 0 auto 8px auto;
}
.share li:hover {
	transform: rotate(360deg);
	animation-direction: normal;
}
.share .type1, .share2 .type1 {
	background-image: url(../images/icon_fr.png);
	background-size: cover;
}
.share .type2, .share2 .type2 {
	background-image: url(../images/icon_fb.png);
	background-size: cover;
}
.share .type3, .share2 .type3 {
	background-image: url(../images/icon_google.png);
	background-size: cover;
}
.share .type4, .share2 .type4 {
	background-image: url(../images/icon_youtb.png);
	background-size: cover;
}
.share .type5, .share2 .type5 {
	background-image: url(../images/icon_tw.png);
	background-size: cover;
}
.share2 {
	padding-left: 10px;
}
.share2 li {
	border: 0!important;
	width: 45px;
	height: 45px;
	transition: transform 0.5s ease;
	display: inline-block;
	margin: 5px 0 5px 8px;
}
.share2 li a {
	padding: 0 !important;
	display: block;
	height: 100%;
	background: none !important
}
.share .Gotop {
	width: 71px;
	height: 71px;
	background: url(../images/icon_top.png)
}
.share a {
	display: block;
	height: 100%;
}
.share a:hover, .share2 a:hover {
	background-color: transparent !important;
}
/*link*/
	
.link li {
	background: #000;
	border-radius: 5px;
	width: calc(100%/3 - 30px);
 margin-right: calc(30px * 3 / 2);
	margin-left: 0;
	float: left;
	text-align: center;
	margin-bottom: 25px;
}
.link li a {
	border-radius: 5px;
	color: #3d3d3d;
	padding: 30px 0;
	display: block;
	transition: transform 0.23s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.link li a:hover .icon, .link li a:focus .icon {
	background-position: center 5px;
}
.link .icon {
	border-radius: 100%;
	width: 113px;
	height: 113px;
	background-image: url(../in_images/icon_link01.png);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s;
	margin: 0 auto 25px;
	transition: all 0.2s;
}
.link span {
	font-size: 125%;
	font-weight: bold;
	color: #3d3d3d
}
.link li:hover a {
	transform: translate(-5px, -5px);
}
.link li:last-of-type {
	margin-right: 0;
}
.link li:nth-of-type(1) .icon {
	background-image: url(../in_images/icon_link01.png);
}
.link li:nth-of-type(2) .icon {
	background-image: url(../in_images/icon_link02.png);
}
.link li:nth-of-type(3) .icon {
	background-image: url(../in_images/icon_link03.png);
}
.link li:nth-of-type(1) a {
	background: #79DBE8;
}
.link li:nth-of-type(2) a {
	background: #ABED87;
}
.link li:nth-of-type(3) a {
	background: #CFA8F3;
}
/*font-size bg*/
.font_size_btn {
	background-color: #ccc;
}
.font_size_btn a, .font_size_btn a:hover {
	color: #fff;
}
.font_size_btn- {
	background-color: #333;
}
.font_size_btn- a {
	color: #fff;
}
.m_search {
	background: #fff;
	color: #F26589;
	padding: 6px;
	display: inline-block;
	vertical-align: middle;
	z-index: 9;
}
.m_search:hover {
	color: #F26589;
}
.m_search:hover i, .m_search:focus i {
	color: #F26589;
}
.txbKeyword {
	display: inline-block
}
.modal-header {
	border-radius: 6px 6px 0 0;
	background: #000;
	color: #fff;
	padding: 10px;
	text-align: center
}
.modal-header .close {
	border: 0;
	margin: 0;
	color: #fff;
	opacity: 1;
	font-size: 1.5em;
	line-height: 18px;
}
.modal-title {
	color: #fff;
	margin: 0;
	line-height: 1.42857143;
	font-size: 1.125em;
	padding-right: 20px;
}
.modal-footer {
	text-align: center
}
.btn-default:hover, .btn-default:focus, .btn-default:active:focus {
	color: #fff;
	background-color: #000;
}
.chart iframe {
	width: 100%;
	height: 400px;
}
.fb iframe {
	width: 100%;
	height: 262px;
}

